<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Form</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>


    <div class="d-flex justify-content-around">

   <div class="shadow-lg container mt-5">
    <form method="post" action="/save_data/" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file_name">Название:</label>
            <input type="text" class="form-control" id="file_name" name="file_name" required>
        </div>

        <div class="form-group">
            <label for="napolnenie">Наполнение</label>
            <textarea class="form-control" id="napolnenie" name="napolnenie" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
    </form>
</div>


</div>

</body>
</html>